body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: "b nazanin";
}

@font-face {
    font-family: "b nazanin";
    src: url("F:/My html-css project/YekanBoom.ttf");
}

.signin {
    box-shadow: 0px -4px 12px #CFD8DC;
    border: none;
    border-bottom: 1px solid #CFD8DC;
}

.header {
    width: 100%;
    height: 85px;
    border: none;
}

.header-img1 {
    margin: 30px 10px 0 0;
}

.search-onclick {
    width: 93.8%;
    height: 205px;
    position: absolute;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: -48px -20px;
    box-shadow: 0px 0px 12px 1px #B0BEC5;
    display: none;
}

.search-bar:hover .search-onclick {
    display: block;
}

.list1 {
    list-style: none;
    overflow: auto;
    margin: 3px -11px 0px 0px;
    display: flex;
}

.list1 a {
    display: inline-block;
    margin: 0 5px;
    min-width: 150px;
    width: 200px;
    text-align: center;
}

.list-items {
    font-size: 18px;
    padding: 15px;
    border: 1px solid #e0e0e6;
    text-decoration: none;
    border-radius: 50px;
}

.search-bar {
    width: 45%;
    height: 34px;
    position: absolute;
    max-width: 700px;
    background-color: #f1f2f4;
    border-radius: 5px;
    padding: 10px 20px;
    margin: -53px 135px;
}

.search-bar button {
    border: none;
    background-color: transparent;
    color: #538a34;
    cursor: pointer;
    margin-right: -12px;
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    padding: 12px 29px;
    outline: none;
    font-size: 20px;
    color: #8b8b92;
    position: absolute;
    top: 1px;
    right: 30px;
}

::placeholder {
    font-size: 20px;
    color: #76779b;
}

.submit-button {
    border: 1px solid #e0e0e6;
    border-radius: 10px;
    margin: 12px;
    width: 150px;
    font-size: 20px;
    height: 54px;
    display: inline;
    float: left;
    text-align: center;
}

.header-img2 {
    width: 36px;
    height: 36px;
    margin: 16px 7px 0 9px;
    float: left;
}

.menu-bar ul {
    list-style: none;
}

.menu-bar li {
    display: inline;
    margin: 0 7px;
    transition: 0.01s;
}

.menu-bar li:hover {
    border-bottom: 2.3px solid #ee384e;
}

.menu-bar li div {
    display: inline;
}

.menu-bar li a {
    text-decoration: none;
    color: #5a5c7a;
}

.menu-bar ul {
    margin: 0 7px;
    padding: 3px;
}

.goods {
    margin: 0px 27px 0px 0px;
    width: 22%;
    direction: ltr;
    height: 455px;
    padding: 9px;
    box-shadow: 0px -4px 12px #CFD8DC;
    border: none;
    overflow: auto;
    display: none;
}

.goods li {
    float: right;
    padding: 5px;
    margin-right: 9px;
    line-height: 60px;
    display: inline;
}

.goods li:hover {
    background-color: #e4d3d3;
    border: none;
    border-radius: 5px;
}

.goods li:hover a {
    color: #ee384e;
}

.goods div {
    display: inline;
}

.goods a {
    text-decoration: none;
    color: #5a5c7a;
}

.goods ul {
    list-style: none;
    margin: 5px 5px;
    padding: 0;
}

.main:hover {
    cursor: pointer;
}

.main:hover .goods {
    display: block;
}

.container1 {
    width: 100%;
    margin: 10px -13px;
    height: 130px;
    text-align: center;
}

.container1 div {
    width: 100px;
    height: 100px;
    margin: 14px 50px 0 0;
    display: inline-block;
}

.container1 a {
    text-decoration: none;
    color: black;
}

.container2 {
    width: 95%;
    margin: 0 30px;
    height: 320px;
    text-align: center;
    background-color: #ee384e;
    border: none;
    border-radius: 8px;
}

.container2 .col {
    width: 20%;
    float: right;
    height: 98%;
    margin: 2px 5px 0 0;
}

.container2 .row {
    width: 78.5%;
    height: 88%;
    overflow: auto;
    display: flex;
    margin: 24px 5px;
    float: left;
    border: none;
    border-radius: 8px;
}

.list-items {
    display: inline-block;
    width: 172px;
    height: 83%;
    background-color: #fff;
    border-radius: 0px;
    margin: 5px 1.5px;
}

.list-items img {
    width: 98%;
}

.first {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.last {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.last .child {
    border: 1px solid #23c5df;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin: 40px 42px -18px;
}