body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: "b nazanin";
}

@font-face {
    font-family: "b nazanin";
    src: url("F:/My html-css project/YekanBoom.ttf");
}

.signin {
    box-shadow: 0px -4px 12px #CFD8DC;
    border: none;
    border-bottom: 1px solid #CFD8DC;
}

.header {
    width: 100%;
    height: 85px;
    border: none;
}

.header-img1 {
    margin: 30px 10px 0 0;
}

.search-onclick {
    width: 93.8%;
    height: 205px;
    position: absolute;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: -48px -20px;
    box-shadow: 0px 0px 12px 1px #B0BEC5;
    display: none;
}

.search-bar:hover .search-onclick {
    display: block;
}

.list11 {
    list-style: none;
    overflow: auto;
    margin: 3px -11px 0px 0px;
    display: flex;
}

.list11 a {
    display: inline-block;
    margin: 0px 5px 8px 5px;
    min-width: 150px;
    width: 200px;
    border-radius: 43px;
    text-align: center;
    height: 25px;
}

.list-items {
    font-size: 18px;
    padding: 15px;
    border: 1px solid #e0e0e6;
    text-decoration: none;
    border-radius: 50px;
}

.search-bar {
    width: 45%;
    height: 34px;
    position: absolute;
    max-width: 700px;
    background-color: #f1f2f4;
    border-radius: 5px;
    padding: 10px 20px;
    margin: -53px 135px;
}

.search-bar button {
    border: none;
    background-color: transparent;
    color: #538a34;
    cursor: pointer;
    margin-right: -12px;
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    padding: 12px 29px;
    outline: none;
    font-size: 20px;
    color: #8b8b92;
    position: absolute;
    top: 1px;
    right: 30px;
}

::placeholder {
    font-size: 20px;
    color: #76779b;
}

.submit-button {
    border: 1px solid #e0e0e6;
    border-radius: 10px;
    margin: 12px;
    width: 150px;
    font-size: 20px;
    height: 54px;
    display: inline;
    float: left;
    text-align: center;
}

.header-img2 {
    width: 36px;
    height: 36px;
    margin: 16px 7px 0 9px;
    float: left;
}

.menu-bar ul {
    list-style: none;
}

.menu-bar li {
    display: inline;
    margin: 0 7px;
    transition: 0.01s;
}

.menu-bar li:hover {
    border-bottom: 2.3px solid #ee384e;
}

.menu-bar li div {
    display: inline;
}

.menu-bar li a {
    text-decoration: none;
    color: #5a5c7a;
}

.menu-bar ul {
    margin: 0 7px;
    padding: 3px;
}

.goods {
    margin: 0px 27px 0px 0px;
    width: 22%;
    direction: ltr;
    height: 455px;
    padding: 9px;
    box-shadow: 0px -4px 12px #CFD8DC;
    border: none;
    overflow: auto;
    display: none;
}

.goods li {
    float: right;
    padding: 5px;
    margin-right: 9px;
    line-height: 60px;
    display: inline;
}

.goods li:hover {
    background-color: #e4d3d3;
    border: none;
    border-radius: 5px;
}

.goods li:hover a {
    color: #ee384e;
}

.goods div {
    display: inline;
}

.goods a {
    text-decoration: none;
    color: #5a5c7a;
}

.goods ul {
    list-style: none;
    margin: 5px 5px;
    padding: 0;
}

.main:hover {
    cursor: pointer;
}

.main:hover .goods {
    display: block;
}

.container1 {
    width: 100%;
    margin: 10px -13px;
    height: 130px;
    text-align: center;
}

.container1 div {
    width: 100px;
    height: 100px;
    margin: 14px 50px 0 0;
    display: inline-block;
}

.container1 a {
    text-decoration: none;
    color: black;
}

.container2 {
    width: 95%;
    margin: 0 30px;
    height: 320px;
    text-align: center;
    background-color: #ee384e;
    border: none;
    border-radius: 8px;
}

.container2 .col {
    width: 20%;
    float: right;
    height: 98%;
    margin: 2px 5px 0 0;
}

.container2 .row {
    width: 78.5%;
    height: 88%;
    overflow: auto;
    display: flex;
    margin: 24px 5px;
    float: left;
    border: none;
    border-radius: 8px;
}

.list-items {
    display: inline-block;
    width: 172px;
    height: 83%;
    background-color: #fff;
    border-radius: 0px;
    margin: 5px 1.5px;
}

.list-items img {
    width: 98%;
}

.first {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.last {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.last .child {
    border: 1px solid #23c5df;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin: 40px 42px -18px;
}

.container3 {
    background-color: #eef1f0;
    width: 95%;
    margin: 15px 30px;
    height: 130px;
    display: flex;
    text-align: center;
    border: none;
    border-radius: 11px;
}

.container3 .child1 {
    width: 100%;
    height: 100%;
}

.container3 .child2 {
    width: 59.5%;
    height: 100%;
    float: left;
}

.child1 .img1 {
    margin: 20px 25px 0 0;
    float: right;
}

.child1 .img2 {
    text-align: center;
    float: right;
    margin: 39px 17px 0px 0px;
}

.child1 .sp {
    text-decoration: none;
    background-color: #39ae00;
    border-radius: 12px;
    float: right;
    margin: 33px 20px;
    color: white;
    padding: 3px 9px;
}

.child2 .items {
    background-color: #fff;
    width: 90px;
    height: 90px;
    display: inline-table;
    float: right;
    margin: 15px 5px;
    border-radius: 65px;
}

.child2 .items img {
    width: 62%;
    border-radius: 59px;
    margin: 10px -34px 0px 0;
    text-align: center;
}

.child2 .sp {
    color: #fff;
    background-color: #ee384e;
    padding: 2px;
    margin: 58px 1px 0 0;
    float: right;
    border-radius: 65px;
}

.child2 .sp-btn {
    width: 149px;
    float: left;
    height: 39px;
    background-color: #fff;
    color: #39ae00;
    padding: 14px 0 0 0;
    margin: 33px 0 0 6px;
    text-decoration: none;
    border-radius: 40px;
    border: none;
}

.footer {
    width: 100%;
    height: 1200px;
}

.row1 {
    width: 100%;
    height: 150px;
}

.row1 .come-back span {
    color: #b0b1c0;
}

.come-back {
    border: 1px solid #b0b1c0;
    border-radius: 8px;
    padding: 9px;
    margin: -20px 0 0 55px;
    float: left;
    cursor: pointer;
}

.row2 {
    width: 100%;
    height: 130px;
    display: flex;
    padding: 6px 0;
}

.row2 .items {
    text-align: center;
    width: 22%;
    margin: 0 5px;
    height: 100%;
}

.row2 .items img {
    margin: 30px 0 -10px 0;
}

.row2 .items a {
    text-decoration: none;
}

.row2 .items span {
    color: #343241;
}

.row3 {
    width: 100%;
    display: flex;
    height: 360px;
}

.row3 .item1 {
    width: 22%;
    height: 100%;
    margin: 3px 5px;
}

.row3 .item1 ul {
    list-style-type: none;
    margin: 10px -23px;
}

.row3 .item1 li span {
    color: #768cbf;
    line-height: 43px;
    font-size: 18px;
}

.row3 .item2 {
    height: 100%;
    width: 28%;
    margin-right: 20px;
}

.row3 .item2 .row1 {
    background-color: #fff;
    height: 51px;
    padding: 15px;
}

.row3 .item2 .row1 img {
    margin: 10px 20px;
}

.row3 .item2 .row2 .in1 {
    background-color: #f1f2f4;
    width: 56%;
    color: #9eb5d4;
    font-size: 21px;
    height: 46%;
    padding: 0px 23px;
    border: none;
    border-radius: 7px;
}

.row3 .item2 .row2 .in2 {
    background-color: #ef4056;
    width: 16%;
    height: 46%;
    padding: 0px 0px;
    border: none;
    margin: 0 18px;
    color: #fff;
    font-size: 21px;
    border-radius: 7px;
}

.row4 {
    width: 95%;
    margin: 0px 30px;
    display: flex;
    color: #fff;
    height: 80px;
    background-color: #3c4b6d;
    border: none;
    border-radius: 10px;
}

.row4 a img {
    height: 62%;
    margin: 15px 6px;
}