* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: "Sahel";
}

img {
    overflow-clip-margin: content-box;
}

a {
    margin: 0;
    !important;
    padding: 0;
    !important;
    position: relative;
    text-decoration: none;
}

sign-in-key {
    display: none !important;
}

li {
    font-size: 0.8em;
    padding: 0 !important;
}

span {
    color: #3F4064;
}